<ion-header >
  <ion-navbar color="danger">
  <ion-title>Fruits</ion-title>
  <ion-buttons start>
    <button ion-button icon-only (click)="onToggleMenu()" >
    <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
  </ion-header>
  <ion-content padding>
      <h2>Mes Articles</h2>
<div class="main-featured-products">
<ion-slides pager="true"  >
 <ion-slide  *ngFor="let fruit of fruitsList">
   <ion-card class="main-product-card">
     <ion-card-content>
      <img src="https://firebasestorage.googleapis.com/v0/b/freshfruits-5cee0.appspot.com/o/Images%2F{{fruit.name.toLowerCase()}}.jpg?alt=media&token=c075c303-6291-44fa-a871-71bb09afccd8" 
      style="width: 100%;">
     <ion-card-title>
      {{ fruit.name }}
   </ion-card-title> 
  </ion-card-content>
  </ion-card>
 </ion-slide>
</ion-slides>
</div>
<h2>Tous Articles</h2>
<ion-searchbar placeholder="Chercher fruit..." (ionInput)="getItems($event)"></ion-searchbar>
    <ion-segment [(ngModel)]="page" color="warning" >
      <ion-segment-button value="0" (click)="SelectedTab(0)">
        <ion-label>A pépin</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1" (click)="SelectedTab(1)">
        <ion-label>A noyau</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2" (click)="SelectedTab(2)">
        <ion-label>Agrumes</ion-label>
      </ion-segment-button>
    </ion-segment>
  <ion-slides pager="false" #slider (ionSlideWillChange)="moveButton($event)">
    <ion-slide >
    <ion-list *ngFor="let fruit of fruitsList;let i = index"  >
      <ion-row>
      <ion-item style="width: 80%;" (click)="onLoadFruit(i)" >
          <ion-row >
            <ion-col *ngIf="fruit.name =='kiwi'">
              <img src="https://firebasestorage.googleapis.com/v0/b/freshfruits-5cee0.appspot.com/o/Images%2F{{fruit.name.toLowerCase()}}.jpg?alt=media&token=c075c303-6291-44fa-a871-71bb09afccd8" 
              style="width: 90%;"></ion-col>
              <ion-col *ngIf="fruit.name !='kiwi'"><img [src]="fruit.imageUrl" style="width: 90%;"></ion-col>
      <ion-col style="margin-top: -4%;">{{ fruit.name }}</ion-col>
      <ion-col style="margin-top: -4%;">{{ fruit.prix }}</ion-col>
    </ion-row>
  <br>
      </ion-item><ion-row> <ion-col>       
      <ion-icon name="cart" [color]="fruit.isOn ? 'secondary' : 'danger'"></ion-icon>
    </ion-col>
      <ion-col>
      <ion-icon color="warning" name="trash" [ngSwitch]="i" (click)="hide(i)"></ion-icon></ion-col>
      </ion-row>
    </ion-row>
      </ion-list>
</ion-slide>
<ion-slide>
  <ion-list *ngFor="let fruit of fruitsList1| slice:3;let i = index"  >
    <ion-row>
    <ion-item style="width: 80%;" (click)="onLoadFruit1(i)" >
        <ion-row >
          <ion-col><img [src]="fruit.imageUrl" style="width: 90%;"></ion-col>
    <ion-col style="margin-top: -4%;">{{ fruit.name }}</ion-col>
    <ion-col style="margin-top: -4%;">{{ fruit.prix }}</ion-col>
  </ion-row>
    </ion-item><ion-row> <ion-col>       
    <ion-icon name="cart" [color]="fruit.isOn ? 'secondary' : 'danger'"></ion-icon>
  </ion-col>
    <ion-col>
    <ion-icon color="warning" name="trash" [ngSwitch]="i" (click)="hide1(i)"></ion-icon></ion-col>
    </ion-row>
  </ion-row>
  <br>
    </ion-list>
</ion-slide>
<ion-slide>
  <ion-list *ngFor="let fruit of fruitsList2| slice:6;let i = index"  >
    <ion-row>
    <ion-item style="width: 80%;" (click)="onLoadFruit2(i)" >
        <ion-row >
          <ion-col><img [src]="fruit.imageUrl" style="width: 90%;"></ion-col>
    <ion-col style="margin-top: -4%;">{{ fruit.name }}</ion-col>
    <ion-col style="margin-top: -4%;">{{ fruit.prix }}</ion-col>
  </ion-row>

    </ion-item><ion-row> <ion-col>       
    <ion-icon name="cart" [color]="fruit.isOn ? 'secondary' : 'danger'"></ion-icon>
  </ion-col>
    <ion-col>
    <ion-icon color="warning" name="trash" [ngSwitch]="i" (click)="hide2(i)"></ion-icon></ion-col>
    </ion-row>
  </ion-row>
  <br>
    </ion-list>
</ion-slide>
</ion-slides>
<button ion-button  style="background-color: #FAD02C;margin-left: 30%;width: 42%;" (click)="onNewFruit()"> <ion-icon name="cloud-done"></ion-icon>&nbsp;Nouveau
  fruit</button>
    <button ion-button  style="background-color: #FAD02C;margin-left: 30%;width: 42%;" (click)="onSaveList()"><ion-icon name="cloud-download"></ion-icon>&nbsp;Enregistrer</button>
    <button ion-button  style="background-color: #FAD02C;margin-left: 30%;width: 42%;" (click)="onFetchList()"><ion-icon name="cloud-upload"></ion-icon>&nbsp;Récupérer <p style="color: #FAD02C;">f</p></button>
  </ion-content>