.searchbar-input { background: #FFF !important; border-radius: 30px !important; height: 40px !important; max-width: 400px; font-size: 1.25em !important; border: 1px solid transparent; }
page-fruits {
}
.main-product-card{
    border-radius: 20px;
}
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #FAD02C;
  }

