<ion-menu [content]="content">
    <ion-header>
    <ion-toolbar  color="danger" *ngIf="isAuth" >
    <ion-title>Menu</ion-title>
    </ion-toolbar>
    </ion-header>
    <ion-content>       
    <ion-list>
        <ion-list>
            <button ion-item icon-start detail-none block (click)="onNavigate(tabsPage)" *ngIf="isAuth">
                <ion-icon name="restaurant" style="color: #FAD02C;"></ion-icon>
                Fruit
                </button>
            <ion-toolbar  color="light" *ngIf="!isAuth" >
                <ion-title>Menu</ion-title>
             </ion-toolbar>
            <button ion-item icon-start (click)="onNavigate(authPage, {mode: 'new'})" *ngIf="!isAuth">
            <ion-icon name="person-add" color="secondary"></ion-icon>
            Nouvel utilisateur
            </button>
            <button ion-item icon-start (click)="onNavigate(authPage, {mode: 'connect'})" *ngIf="!isAuth">
            <ion-icon name="person" color="secondary"></ion-icon>
            Connexion
            </button>
            <button ion-item icon-start detail-none block (click)="onNavigate(settingsPage)" *ngIf="isAuth">
                <ion-icon name="options" style="color: #FAD02C;"></ion-icon>
                Paramétres
                </button>
            <button ion-item icon-start detail-none block (click)="onDisconnect()" *ngIf="isAuth">
                <ion-icon name="exit" style="color: #FAD02C;"></ion-icon>
                Déconnexion
                </button>
                
            </ion-list>
            
    </ion-list>
    </ion-content>
    </ion-menu>
    <ion-nav [root]="tabsPage" #content ></ion-nav>
