<ion-header>
  <ion-navbar color="danger">
  <ion-title>Nouveau fruit</ion-title>
  </ion-navbar>
  </ion-header>
  <ion-content padding>
  <form [formGroup]="fruitForm">
  <ion-list>
  <ion-item-divider>Informations</ion-item-divider>
  <ion-item>
  <ion-label>Fruit</ion-label>
  <ion-input  [(ngModel)]="inputText" formControlName="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Prix</ion-label>
    <ion-input  [(ngModel)]="inputText1" formControlName="name"></ion-input>
    </ion-item>
  <ion-item-divider>Description</ion-item-divider>
  <div formArrayName="description" >
    <ion-item *ngFor="let control of getDescriptionArray().controls; let i = index" (click)="onRemoveDescription(i)">
      <ion-icon item-start name="remove-circle" color="danger">
      </ion-icon>
    <ion-input [formControlName]="i" [placeholder]="i+1 +'.'" ></ion-input>
    </ion-item>
    </div>
    </ion-list>
    <button ion-button full style="background-color: #FAD02C;" (click)="onAddDescription()" >Ajouter une ligne</button>
    <ion-item-divider>Image</ion-item-divider>
    <ion-item>
    <ion-row>
     
      <button ion-button (click)="addPhoto()" color="danger" style="width: 47%;" outline>
      <ion-icon name="image" slot="start"></ion-icon >&nbsp; Galerie
      </button>&ensp;
    <button ion-button outline (click)="addPhoto('camera')"  color="warning" style="width: 47%;">
      <ion-icon name="camera" slot="start"></ion-icon>
      &nbsp; Camera
      </button>
    </ion-row></ion-item>
<button ion-button full style="background-color: #FAD02C;" (click)="onSubmitForm()" (click)="addFruit({name:inputText})" >Enregistrer</button>
<br>
<ion-card>  
<ion-card-content><h2>Liste des fruits ajoutés à la base</h2><button ion-item icon-start *ngFor="let item of fruits" (click)="deleteFruit(item.key)" >
  <ion-icon name="remove-circle" color="danger" ></ion-icon>
  {{item.name}}
</button></ion-card-content></ion-card>
  </form>
  
  </ion-content>
