<ion-header>
  <ion-navbar color="danger">
  <ion-title>
  SQLite
  </ion-title>
  </ion-navbar>
  </ion-header>
  <ion-content padding>
  <p>Permet de stocker des données de façon structurées</p>
  <ion-list>
  <ion-item>
  <ion-label fixed>Nom</ion-label>
  <ion-input type="text" [(ngModel)]="titleMovie"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label fixed>Famille</ion-label>
  <ion-input type="text" [(ngModel)]="ratingMovie"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label fixed>Description</ion-label>
  <ion-input type="text" [(ngModel)]="descriptionMovie"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label fixed>Categorie</ion-label>
  <ion-input type="text" [(ngModel)]="categorieMovie"></ion-input>
  </ion-item>
  </ion-list>
  <button ion-button clear (tap)="saveMyFilm()" color="danger">Enregistrer mon fruit !!</button>
  <ion-list *ngIf="movies">
  <ion-item *ngFor="let movie of movies">
  <ion-label fixed>{{ movie }}</ion-label>
  </ion-item>
  </ion-list>
  <button ion-button clear (tap)="retrieveFilms()" color="warning">Obtenir mon fruit !!</button>
  </ion-content>
  